<div class="content-wrapper">
<div class="panel panel-default animated fadeInRight">
<div>
<div>
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th>No</th>
        <th>UserName</th>
        <th>Email</th>
        <th>CreatedAt</th>
        <th>Note</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>Naruto</td>
        <td>naruto_uzumaki@konoha.com</td>
        <td>2018-06-06</td>
        <td>I like ramen</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Sakura</td>
        <td>sakura_haruno@konoha.com</td>
        <td>2018-06-06</td>
        <td>I like flowers</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Sasuke</td>
        <td>sasuke_uchiha@konoha.com</td>
        <td>2018-06-06</td>
        <td>I like tomato</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
</div>

<div class="panel panel-default animated fadeInRight">
<div>
<div>
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th>No</th>
        <th>UserName</th>
        <th>Email</th>
        <th>CreatedAt</th>
        <th>Note</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>Rock Lee</td>
        <td>rocklee@konoha.com</td>
        <td>2018-06-06</td>
        <td>I like ramen</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Tenten</td>
        <td>tenten@konoha.com</td>
        <td>2018-06-06</td>
        <td>I like flowers</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Kiba</td>
        <td>kiba@konoha.com</td>
        <td>2018-06-06</td>
        <td>I like tomato</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
</div>