		<div class="tab_container">
			<input id="tab1" type="radio" name="tabs" checked>
			<label for="tab1"><span>Overall</span></label>

			<input id="tab2" type="radio" name="tabs">
			<label for="tab2"><span>Filtered</span></label>

			<input id="tab3" type="radio" name="tabs">
			<label for="tab3"><span>Graph</span></label>

			<section id="content1" class="tab-content">
				<div class="content-wrapper">
					<div class="panel panel-default animated fadeInRight">
					  <div class="table-responsive">
					    <table class="table table-bordered table-hover">
					      <thead>
					      <tr>
					        <th>人数</th>
					        <th>～20歳</th>
					        <th>20～29歳</th>
					        <th>30～39歳</th>
					        <th>40～49歳</th>
					        <th>50歳～</th>
					        <th>男性</th>
					        <th>女性</th>
					      </tr>
					      </thead>
					      <tbody>
					      <tr>
									<td>{{ total }}</td>
									<ng-container *ngFor="let category of categories; let i = index">
											<td>{{ category.total }}</td>
									</ng-container>
					        <td>{{ male }}</td>
					        <td>{{ female }}</td>
					      </tr>
					      </tbody>
					    </table>
					  </div>
					</div>
				</div>

				<div class="content-wrapper">
					<div  class="panel panel-default animated fadeInRight overflow">
					  <div class="table-responsive">
					    <table class="table table-bordered table-hover">
					      <thead>
					      <tr>
					        <th>高校在学</th>
					        <th>高校卒業</th>
					        <th>大学在学</th>
					        <th>大学卒業</th>
					        <th>外国語系</th>
					        <th>経済・経営系</th>
					        <th>その他文系</th>
					        <th>工学系</th>
					        <th>その他理系</th>
					        <th>仕事で必要だから</th>
					        <th>会社の命令だから</th>
					        <th>キャリアアップしたいから</th>
					        <th>留学したいから</th>
					        <th>その他</th>
					      </tr>
					      </thead>
					      <tbody>
									<tr>
					      <!-- <tr *ngFor="let extraOverview of extraOverviews; let i = index"> -->
					        <td>{{ extraOverviews.hStudent }}</td>
					        <td>{{ extraOverviews.hgStudent }}</td>
					        <td>{{ extraOverviews.uStudent }}</td>
					        <td>{{ extraOverviews.ugStudent }}</td>
					        <td>{{ extraOverviews.major1 }}</td>
					        <td>{{ extraOverviews.major2 }}</td>
					        <td>{{ extraOverviews.major3 }}</td>
					        <td>{{ extraOverviews.major4 }}</td>
					        <td>{{ extraOverviews.major5 }}</td>
					        <td>{{ extraOverviews.reason1 }}</td>
					        <td>{{ extraOverviews.reason2 }}</td>
					        <td>{{ extraOverviews.reason3 }}</td>
					        <td>{{ extraOverviews.reason4 }}</td>
					        <td>{{ extraOverviews.reason6 }}</td>
					      </tr>
					      </tbody>
					    </table>
					  </div>
					</div>
				</div>
			</section>



			<section id="content2" class="tab-content">
				<div class="content-wrapper">
					<div class="panel panel-default animated fadeInRight">
					  <div class="table-responsive">
					    <table class="table table-bordered table-hover">
					      <tbody>

							<div class="container">
								<div class="row">
									<table border="0" cellpadding="0" cellspacing="0" class="table table-bordered table-striped month">
							            <tr>
							                <th colspan="6" class="month-head month">学習時間</th>
											<th colspan="2" class="month-head month">進捗</th>
											<th colspan="7" class="month-head month">成績</th>
											<th colspan="2" class="month-head month">警告</th>
							            </tr>
							            <tr><th class="mon text-center"></th><th class="tue text-center">目標</th><th class="wed text-center">累計</th><th class="thu text-center">平均/日</th><th class="fri text-center">目標実行率</th><th class="sat text-center">ログイン回数累計</th><th class="sun text-center">学習課</th><th class="tue text-center">進捗率</th><th class="wed text-center">課</th><th class="thu text-center">語彙</th><th class="fri text-center">漢字</th><th class="sat text-center">文法</th><th class="sun text-center">読解</th><th class="thu text-center">聴解</th><th class="fri text-center">合計</th><th class="sat text-center">回数</th><th class="sun text-center">反応率</th></tr>

							            <tr><th class="mon text-center">15-18</th><th class="tue text-center">data1</th><th class="wed text-center">data2</th><th class="thu text-center">data3</th><th class="fri text-center">data4</th><th class="sat text-center">data5</th><th class="sun text-center">data6</th><th class="tue text-center">data7</th><th class="wed text-center">data8</th><th class="thu text-center">data9</th><th class="fri text-center">data10</th><th class="sat text-center">data11</th><th class="sun text-center">data12</th><th class="thu text-center">data13</th><th class="fri text-center">data14</th><th class="sat text-center">data15</th><th class="sun text-center">data16</th></tr>
							        </table>
								</div>
							</div>
					      </tbody>
					    </table>
					  </div>
					</div>
				</div>
			</section>

			<section id="content3" class="tab-content">
				<img src="./assets/graph.png">
			</section>
		</div>