		<div class="tab_container">
			<input id="tab1" type="radio" name="tabs" checked>
			<label for="tab1"><span>Overall</span></label>

			<input id="tab2" type="radio" name="tabs">
			<label for="tab2"><span>Filtered</span></label>

			<input id="tab3" type="radio" name="tabs">
			<label for="tab3"><span>Graph</span></label>

			<section id="content1" class="tab-content">
				<div class="content-wrapper">
					<div class="panel panel-default animated fadeInRight">
					  <div class="table-responsive">
					    <table class="table table-bordered table-hover">
					      <thead>
					      <tr>
					        <th>人数</th>
					        <th>18～20歳</th>
					        <th>21～25歳</th>
					        <th>26～30歳</th>
					        <th>31～35歳</th>
					        <th>36～40歳</th>
					        <th>41歳以上</th>
					        <th>男性</th>
					        <th>女性</th>
					      </tr>
					      </thead>
					      <tbody>
					      <tr>
					        <td>20</td>
					        <td>32</td>
					        <td>12</td>
					        <td>5</td>
					        <td>22</td>
					        <td>16</td>
					        <td>3</td>
					        <td>34</td>
					        <td>23</td>
					      </tr>
					      </tbody>
					    </table>
					  </div>
					</div>
				</div>

				<div class="content-wrapper">
					<div  class="panel panel-default animated fadeInRight overflow">
					  <div class="table-responsive">
					    <table class="table table-bordered table-hover">
					      <thead>
					      <tr>
					        <th>高校在学</th>
					        <th>高校卒業</th>
					        <th>大学在学</th>
					        <th>大学卒業</th>
					        <th>大学院</th>
					        <th>外国語系</th>
					        <th>経済・経営系</th>
					        <th>その他文系</th>
					        <th>工学系</th>
					        <th>その他理系</th>
					        <th>仕事で必要だから</th>
					        <th>会社の命令だから</th>
					        <th>キャリアアップしたいから</th>
					        <th>留学したいから/th>
					        <th>その他</th>
					      </tr>
					      </thead>
					      <tbody>
					      <tr>
					        <td>20</td>
					        <td>32</td>
					        <td>12</td>
					        <td>5</td>
					        <td>22</td>
					        <td>16</td>
					        <td>3</td>
					        <td>34</td>
					        <td>23</td>
					        <td>20</td>
					        <td>32</td>
					        <td>12</td>
					        <td>5</td>
					        <td>22</td>
					        <td>16</td>
					      </tr>
					      </tbody>
					    </table>
					  </div>
					</div>
				</div>
			</section>



			<section id="content2" class="tab-content">
				<div class="content-wrapper">
					<div class="panel panel-default animated fadeInRight">
					  <div class="table-responsive">
					    <table class="table table-bordered table-hover">
					      <thead>
					      <tr>
					        <th>Overall</th>
					        <th>Filtered</th>
					        <th>Graph</th>
					      </tr>
					      </thead>
					      <tbody>
					      <tr>
					        <td>Hiragana2</td>
					        <td>T1</td>
					        <td>65</td>
					        <td>75</td>
					        <td>70</td>
					        <td>65</td>
					        <td>7.7</td>
					        <td>6.7</td>
					        <td>7.2</td>
					      </tr>
					      <tr>
					        <td>Katakana2</td>
					        <td>T1</td>
					        <td>65</td>
					        <td>75</td>
					        <td>70</td>
					        <td>65</td>
					        <td>7.7</td>
					        <td>6.7</td>
					        <td>7.2</td>
					      </tr>
					      <tr>
					        <td>Greeting2</td>
					        <td>T1</td>
					        <td>65</td>
					        <td>75</td>
					        <td>70</td>
					        <td>65</td>
					        <td>70.7</td>
					        <td>62.7</td>
					        <td>73.2</td>
					      </tr>
					      </tbody>
					    </table>
					  </div>
					</div>
				</div>
			</section>
		</div>