    <form [formGroup]="newEditForm" (submit)="submit()">
      <div class="form-heading">
        <h1>Edit Student</h1>
      </div>
      <div class="form-body">
        <div class="form-group has-feedback">
          Email :
        </div>        
        <div class="form-group has-feedback">
          <input name="email" required type="email" placeholder="Enter Email" class="form-control" formControlName="username">
        </div>
        <div class="form-group has-feedback">
          Name :
        </div>        
        <div class="form-group has-feedback">
          <input name="name" required type="text" placeholder="Enter Name" class="form-control" formControlName="name">
        </div>
        <div class="form-group has-feedback">
          Company :
        </div>        
        <div class="form-group has-feedback">
          <input name="company" required type="text" placeholder="Enter Company" class="form-control" formControlName="company">
        </div>
        <div class="form-group has-feedback">
          Department :
        </div>        
        <div class="form-group has-feedback">
          <input name="department" required type="text" placeholder="Enter Department" class="form-control" formControlName="department">
        </div>
        <div class="form-group has-feedback">
          Join date :
        </div>        
        <div class="form-group has-feedback">
          <mat-form-field>
            <input matInput formControlName="joinDate" [matDatepicker]="joinDatePicker" placeholder="Join Date">
            <mat-datepicker-toggle matSuffix [for]="joinDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #joinDatePicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="form-group has-feedback">
          Jlpt Test :
        </div>        
        <div class="form-group has-feedback">
          <select name="jlptyear" required type="jlptyear" style="width:47%;   display: inline-block;"  class="form-control" formControlName="jlptyear">
            <option value="">Select year</option>
            <option *ngFor="let year of years" [ngValue]="year">{{ year }}</option>
          </select>
          <select name="jlpt" required type="jlpt"  style="width:47%;  margin-left:10px;   display: inline-block;" class="form-control" formControlName="jlpt">
            <option value="">select batch</option>
            <option value="1">1st Batch</option>
            <option value="2">2nd Batch</option>
          </select>
        </div>
        <div class="form-group has-feedback">
          Status :
        </div>        
        <div class="form-group has-feedback">
          <select name="status" required type="status" placeholder="Enter Status" [ngModel]="user.status" class="form-control" formControlName="status">
            <option value="1">Active</option>
            <option value="0">Non Active</option>
          </select>        
        </div>        
        <button type="submit" class="btn btn-block btn-primary mt-lg">
          Submit
        </button>
      </div>
   </form>