<form class="login-form">
  <div class="login-header">
    CORPORATE
  </div>
  <div ng-app="LoginForm">
    <div class="login-container">
      <mat-form-field appearance="outline" class="login-field">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Username">
      </mat-form-field>
    
      <mat-form-field appearance="outline" class="login-field">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password">
      </mat-form-field>

      <button mat-raised-button>LOGIN</button>
    </div>
  </div>
</form>
