<div class="row op animated fadeInRight">
    <div class="col-sm-10">
      <span>Search:&nbsp;&nbsp;</span>
      <form [formGroup]="formSearch" style="width:100%;" >
        <input type="text" class="form-control search" formControlName="search" [(ngModel)]="searchKeyword" (ngModelChange)="getBySearch(searchKeyword)"> 
      </form>
    </div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-success" (click)="openAddDialog()">
        <i class="fa fa-plus"></i> Create</button>
    </div>
  </div>
  <div class="panel panel-default animated fadeInRight">
    <div>
      <div>
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>status</th>
              <th>Operation</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of users; let i of index ">
              <td>{{ user.username }}</td>
              <td>{{ user.username }}</td>
              <td><span *ngIf="user.status">{{ printStatus(user.status) }}</span></td>
              <td>
                <span class="op-col text-center">
                  <a class="text-warning" title="Edit"><i class="fas fa-edit" (click)="openEditDialog(i)"></i></a>
                  <a class="text-info" title="Preview" [routerLink]="'/corporate/user/'+ user._id"><i class="fas fa-eye" ></i></a>
                </span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>
  </div>
