		<div class="tab_container">
			<input id="tab1" type="radio" name="tabs" checked>
			<label for="tab1"><span>GOI</span></label>

			<input id="tab2" type="radio" name="tabs">
			<label for="tab2"><span>BUNPO</span></label>

			<input id="tab3" type="radio" name="tabs">
			<label for="tab3"><span>KANJI</span></label>

			<input id="tab4" type="radio" name="tabs">
			<label for="tab4"><span>LISTENING</span></label>

			<input id="tab5" type="radio" name="tabs">
			<label for="tab5"><span>READING</span></label>

			<input id="tab6" type="radio" name="tabs">
			<label for="tab6"><span>GRAPH</span></label>

			<section id="content1" class="tab-content">
				<div class="content-wrapper">
					<div class="panel panel-default animated fadeInRight">
					<div>
					<div>
					  <div class="table-responsive">
					    <table class="table table-bordered table-hover">
					      <thead>
					      <tr>
					        <th>Item</th>
					        <th>Topic</th>
					        <th>GQ1</th>
					        <th>GQ2</th>
					        <th>GQ3</th>
					        <th>GQ4</th>
					        <th>Average</th>
					        <th>Matome Test</th>
					        <th>Pass Average</th>
					      </tr>
					      </thead>
					      <tbody>
					      <tr *ngFor="let goiData of goiDatas; let i = index">
					        <td>{{ goiData.topicName }}</td>
					        <td>{{ goiData.name }}</td>
					        <td>{{ checkStudyTypes(goiData.studyTypes.GQ1) }}</td>
					        <td>{{ checkStudyTypes(goiData.studyTypes.GQ2) }}</td>
					        <td>{{ checkStudyTypes(goiData.studyTypes.GQ3) }}</td>
					        <td>{{ checkStudyTypes(goiData.studyTypes.GQ4) }}</td>
					        <td>{{ convertTwoDecimal(goiData.quizAverage) }}</td>
					        <td>{{ convertTwoDecimal(goiData.allAverage) }}</td>
					        <td>{{ convertTwoDecimal(goiData.passAverage) }}</td>
					      </tr>
					      </tbody>
					    </table>
					  </div>
					</div>
				</div>
			</div>
		</div>
		      	
			</section>

			<section id="content2" class="tab-content">
				<div class="content-wrapper">
					<div class="panel panel-default animated fadeInRight">
					<div>
					<div>
					  <div class="table-responsive">
					    <table class="table table-bordered table-hover">
					      <thead>
					      <tr>
					        <th>Item</th>
					        <th>Topic</th>
					        <th>BQ1</th>
					        <th>BQ2</th>
					        <th>BQ3</th>
					        <th>BQ4</th>
					        <th>Average</th>
					        <th>Matome Test</th>
					        <th>Pass Average</th>
					      </tr>
					      </thead>
					      <tbody>
									<tr *ngFor="let bunpoData of bunpoDatas; let i = index">
										<td>{{ bunpoData.topicName }}</td>
										<td>{{ bunpoData.name }}</td>
										<td>{{ checkStudyTypes(bunpoData.studyTypes.BQ1) }}</td>
										<td>{{ checkStudyTypes(bunpoData.studyTypes.BQ2) }}</td>
										<td>{{ checkStudyTypes(bunpoData.studyTypes.BQ3) }}</td>
										<td>{{ checkStudyTypes(bunpoData.studyTypes.BQ4) }}</td>
										<td>{{ convertTwoDecimal(bunpoData.quizAverage) }}</td>
										<td>{{ convertTwoDecimal(bunpoData.allAverage) }}</td>
										<td>{{ convertTwoDecimal(bunpoData.passAverage) }}</td>
									</tr>
					      </tbody>
					    </table>
					  </div>
					</div>
				</div>
			</div>
		</div>
		      
			</section>

			<section id="content3" class="tab-content">
				<div class="content-wrapper">
					<div class="panel panel-default animated fadeInRight">
					<div>
					<div>
					  <div class="table-responsive">
					    <table class="table table-bordered table-hover">
					      <thead>
					      <tr>
					        <th>Item</th>
					        <th>Topic</th>
					        <th>KQ1</th>
					        <th>KQ2</th>
					        <th>KQ3</th>
									<th>KQ4</th>
									<th>KQ5</th>
					        <th>Average</th>
					        <th>Matome Test</th>
					        <th>Pass Average</th>
					      </tr>
					      </thead>
					      <tbody>
									<tr *ngFor="let kanjiData of kanjiDatas; let i = index">
										<td>{{ kanjiData.topicName }}</td>
										<td>{{ kanjiData.name }}</td>
										<td>{{ checkStudyTypes(kanjiData.studyTypes.KQ1) }}</td>
										<td>{{ checkStudyTypes(kanjiData.studyTypes.KQ2) }}</td>
										<td>{{ checkStudyTypes(kanjiData.studyTypes.KQ3) }}</td>
										<td>{{ checkStudyTypes(kanjiData.studyTypes.KQ4) }}</td>
										<td>{{ checkStudyTypes(kanjiData.studyTypes.KQ5) }}</td>
										<td>{{ convertTwoDecimal(kanjiData.quizAverage) }}</td>
										<td>{{ convertTwoDecimal(kanjiData.allAverage) }}</td>
										<td>{{ convertTwoDecimal(kanjiData.passAverage) }}</td>
									</tr>
					      </tbody>
					    </table>
					  </div>
					</div>
				</div>
			</div>
		</div>
		    
			</section>

			<section id="content4" class="tab-content">
				<div class="content-wrapper">
					<div class="panel panel-default animated fadeInRight">
					<div>
					<div>
					  <div class="table-responsive">
					    <table class="table table-bordered table-hover">
					      <thead>
					      <tr>
					        <th>Topic</th>
					        <th>Question</th>
					        <th>Taken by</th>
					        <th>Passed</th>
					      </tr>
					      </thead>
					      <tbody>
					      <tr *ngFor="let listeningData of listeningDatas; let i = index">
					        <td>{{ listeningData.topic }}</td>
					        <td>{{ listeningData.code }}</td>
					        <td>{{ listeningData.count }}</td>
					        <td>{{ listeningData.pass }}</td>
					      </tr>
					      </tbody>
					    </table>
					  </div>
					</div>
				</div>
			</div>
		</div>
		      	
			</section>

			<section id="content5" class="tab-content">
				<div class="content-wrapper">
					<div class="panel panel-default animated fadeInRight">
					<div>
					<div>
					  <div class="table-responsive">
					    <table class="table table-bordered table-hover">
					      <thead>
					      <tr>
					        <th>Topic</th>
					        <th>Question</th>
					        <th>Taken by</th>
					        <th>Passed</th>
					      </tr>
					      </thead>
					      <tbody>
								<tr *ngFor="let readingData of readingDatas; let i = index">
									<td>{{ readingData.topic }}</td>
									<td>{{ readingData.code }}</td>
									<td>{{ readingData.count }}</td>
									<td>{{ readingData.pass }}</td>
								</tr>
					      </tbody>
					    </table>
					  </div>
					</div>
				</div>
			</div>
		</div>
</section>

			<section id="content6" class="tab-content">
                <img src="./assets/graph.png">
			</section>
		</div>