		<div class="tab_container">
			<input id="tab1" type="radio" name="tabs" checked>
			<label for="tab1"><span>GOI</span></label>

			<input id="tab2" type="radio" name="tabs">
			<label for="tab2"><span>BUNPO</span></label>

			<input id="tab3" type="radio" name="tabs">
			<label for="tab3"><span>KANJI</span></label>

			<input id="tab4" type="radio" name="tabs">
			<label for="tab4"><span>LISTENING</span></label>

			<input id="tab5" type="radio" name="tabs">
			<label for="tab5"><span>READING</span></label>

			<input id="tab6" type="radio" name="tabs">
			<label for="tab6"><span>GRAPH</span></label>

			<section id="content1" class="tab-content">
				<div class="content-wrapper">
					<div class="panel panel-default animated fadeInRight">
					<div>
					<div>
					  <div class="table-responsive">
					    <table class="table table-bordered table-hover">
					      <thead>
					      <tr>
					        <th>Item</th>
					        <th>Topic</th>
					        <th>GQ1</th>
					        <th>GQ2</th>
					        <th>GQ3</th>
					        <th>GQ4</th>
					        <th>Average</th>
					        <th>Matome Test</th>
					        <th>Pass Average</th>
					      </tr>
					      </thead>
					      <tbody>
					      <tr>
					        <td>Hiragana</td>
					        <td>T1</td>
					        <td>65</td>
					        <td>75</td>
					        <td>70</td>
					        <td>65</td>
					        <td>7.7</td>
					        <td>6.7</td>
					        <td>7.2</td>
					      </tr>
					      <tr>
					        <td>Katakana</td>
					        <td>T1</td>
					        <td>65</td>
					        <td>75</td>
					        <td>70</td>
					        <td>65</td>
					        <td>7.7</td>
					        <td>6.7</td>
					        <td>7.2</td>
					      </tr>
					      <tr>
					        <td>Greeting</td>
					        <td>T1</td>
					        <td>65</td>
					        <td>75</td>
					        <td>70</td>
					        <td>65</td>
					        <td>70.7</td>
					        <td>62.7</td>
					        <td>73.2</td>
					      </tr>
					      </tbody>
					    </table>
					  </div>
					</div>
				</div>
			</div>
		</div>
		      	
			</section>

			<section id="content2" class="tab-content">
				<div class="content-wrapper">
					<div class="panel panel-default animated fadeInRight">
					<div>
					<div>
					  <div class="table-responsive">
					    <table class="table table-bordered table-hover">
					      <thead>
					      <tr>
					        <th>Item</th>
					        <th>Topic</th>
					        <th>GQ1</th>
					        <th>GQ2</th>
					        <th>GQ3</th>
					        <th>GQ4</th>
					        <th>Average</th>
					        <th>Matome Test</th>
					        <th>Pass Average</th>
					      </tr>
					      </thead>
					      <tbody>
					      <tr>
					        <td>Hiragana2</td>
					        <td>T1</td>
					        <td>65</td>
					        <td>75</td>
					        <td>70</td>
					        <td>65</td>
					        <td>7.7</td>
					        <td>6.7</td>
					        <td>7.2</td>
					      </tr>
					      <tr>
					        <td>Katakana2</td>
					        <td>T1</td>
					        <td>65</td>
					        <td>75</td>
					        <td>70</td>
					        <td>65</td>
					        <td>7.7</td>
					        <td>6.7</td>
					        <td>7.2</td>
					      </tr>
					      <tr>
					        <td>Greeting2</td>
					        <td>T1</td>
					        <td>65</td>
					        <td>75</td>
					        <td>70</td>
					        <td>65</td>
					        <td>70.7</td>
					        <td>62.7</td>
					        <td>73.2</td>
					      </tr>
					      </tbody>
					    </table>
					  </div>
					</div>
				</div>
			</div>
		</div>
		      
			</section>

			<section id="content3" class="tab-content">
				<div class="content-wrapper">
					<div class="panel panel-default animated fadeInRight">
					<div>
					<div>
					  <div class="table-responsive">
					    <table class="table table-bordered table-hover">
					      <thead>
					      <tr>
					        <th>Item</th>
					        <th>Topic</th>
					        <th>GQ1</th>
					        <th>GQ2</th>
					        <th>GQ3</th>
					        <th>GQ4</th>
					        <th>Average</th>
					        <th>Matome Test</th>
					        <th>Pass Average</th>
					      </tr>
					      </thead>
					      <tbody>
					      <tr>
					        <td>Hiragana3</td>
					        <td>T1</td>
					        <td>65</td>
					        <td>75</td>
					        <td>70</td>
					        <td>65</td>
					        <td>7.7</td>
					        <td>6.7</td>
					        <td>7.2</td>
					      </tr>
					      <tr>
					        <td>Katakana3</td>
					        <td>T1</td>
					        <td>65</td>
					        <td>75</td>
					        <td>70</td>
					        <td>65</td>
					        <td>7.7</td>
					        <td>6.7</td>
					        <td>7.2</td>
					      </tr>
					      <tr>
					        <td>Greeting3</td>
					        <td>T1</td>
					        <td>65</td>
					        <td>75</td>
					        <td>70</td>
					        <td>65</td>
					        <td>70.7</td>
					        <td>62.7</td>
					        <td>73.2</td>
					      </tr>
					      </tbody>
					    </table>
					  </div>
					</div>
				</div>
			</div>
		</div>
		    
			</section>

			<section id="content4" class="tab-content">
				<div class="content-wrapper">
					<div class="panel panel-default animated fadeInRight">
					<div>
					<div>
					  <div class="table-responsive">
					    <table class="table table-bordered table-hover">
					      <thead>
					      <tr>
					        <th>Topic</th>
					        <th>Question</th>
					        <th>Taken by</th>
					        <th>Passed</th>
					        <th>Average</th>
					      </tr>
					      </thead>
					      <tbody>
					      <tr>
					        <td>T1</td>
					        <td>Q1</td>
					        <td>75</td>
					        <td>6.7</td>
					        <td>7.2</td>
					      </tr>
					      <tr>
					        <td>T1</td>
					        <td>Q1</td>
					        <td>75</td>
					        <td>6.7</td>
					        <td>7.2</td>
					      </tr>
					      <tr>
					        <td>T1</td>
					        <td>Q1</td>
					        <td>75</td>
					        <td>6.7</td>
					        <td>7.2</td>
					      </tr>
					      </tbody>
					    </table>
					  </div>
					</div>
				</div>
			</div>
		</div>
		      	
			</section>

			<section id="content5" class="tab-content">
				<div class="content-wrapper">
					<div class="panel panel-default animated fadeInRight">
					<div>
					<div>
					  <div class="table-responsive">
					    <table class="table table-bordered table-hover">
					      <thead>
					      <tr>
					        <th>Topic</th>
					        <th>Question</th>
					        <th>Taken by</th>
					        <th>Passed</th>
					        <th>Average</th>
					      </tr>
					      </thead>
					      <tbody>
					      <tr>
					        <td>T2</td>
					        <td>Q1</td>
					        <td>75</td>
					        <td>6.7</td>
					        <td>7.2</td>
					      </tr>
					      <tr>
					        <td>T2</td>
					        <td>Q1</td>
					        <td>75</td>
					        <td>6.7</td>
					        <td>7.2</td>
					      </tr>
					      <tr>
					        <td>T2</td>
					        <td>Q1</td>
					        <td>75</td>
					        <td>6.7</td>
					        <td>7.2</td>
					      </tr>
					      </tbody>
					    </table>
					  </div>
					</div>
				</div>
			</div>
		</div>
		      	
			</section>

			<section id="content6" class="tab-content">
				<div class="content-wrapper">
					<div class="panel panel-default animated fadeInRight">
					<div>
					<div>
					  <div class="table-responsive">
					    <table class="table table-bordered table-hover">
					      <thead>
					      <tr>
					        <th>Item</th>
					        <th>Topic</th>
					        <th>GQ1</th>
					        <th>GQ2</th>
					        <th>GQ3</th>
					        <th>GQ4</th>
					        <th>Average</th>
					        <th>Matome Test</th>
					        <th>Pass Average</th>
					      </tr>
					      </thead>
					      <tbody>
					      <tr>
					        <td>Hiragana6</td>
					        <td>T1</td>
					        <td>65</td>
					        <td>75</td>
					        <td>70</td>
					        <td>65</td>
					        <td>7.7</td>
					        <td>6.7</td>
					        <td>7.2</td>
					      </tr>
					      <tr>
					        <td>Katakana6</td>
					        <td>T1</td>
					        <td>65</td>
					        <td>75</td>
					        <td>70</td>
					        <td>65</td>
					        <td>7.7</td>
					        <td>6.7</td>
					        <td>7.2</td>
					      </tr>
					      <tr>
					        <td>Greeting6</td>
					        <td>T1</td>
					        <td>65</td>
					        <td>75</td>
					        <td>70</td>
					        <td>65</td>
					        <td>70.7</td>
					        <td>62.7</td>
					        <td>73.2</td>
					      </tr>
					      </tbody>
					    </table>
					  </div>
					</div>
				</div>
			</div>
		</div>
		      	
			</section>
		</div>