.alert {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.info {
  background-color: lightskyblue;
}

.error {
  background-color: palevioletred;
}

.warning {
  background-color: yellow;
}

.button {
  float: right
}
