.h-75 {
  height: 75px;
}

.form-heading {
 padding: 10px 15px;
 background-color: cadetblue;
 text-align: center;
}

.form-heading  h1 {
 font-size: 18px;
 line-height: 18px;
 margin: 0;
 padding: 10px 0;
 color: #fff;
}
