<div class="content-wrapper">
    <div class="panel panel-default animated fadeInRight">
    <div>
    <div>
    <div class="form-heading">
      <h1>Total Students</h1>
    </div>
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
                <th>No</th>
                <th>Age</th>
                <th>Total</th>
                <th>Male</th>
                <th>Female</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let student of students; let i = index">
                <td>{{ i+1 }}</td>
                <td>{{ student.name }}</td>
                <td>{{ student.total }}</td>
                <td>{{ student.male }}</td>
                <td>{{ student.female }}</td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
    </div>
    </div>
    
