#admin-container {
  height: 100%;
}

#sidebar-container {
  background-color: darkslategray;
  height: 100%;
  padding: 10px;
}

#content-container {
  background-color: aquamarine;
  height: 100%;
  padding: 10px;
}
