  <div class="form-heading">
      <h1>Student</h1>
    </div>
  <div class="content-wrapper bg-white">
    <div class="row animated zoomIn amount ">
      <div class="col-md-2 col-xs-2 col-sm-2">
        <img class="img-responsive" src="https://assets.bound360.com/content/uploads/2014/08/shutterstock_149293433.jpg"/>
      </div>
      <div class="col-md-10 col-xs-10 col-sm-10 border-black">
          <div class="row">
            <div class="col-md-6 col-xs-6 col-sm-6">
              <span class="text_detail">NAME : {{ users.name }}</span>
              <span class="text_detail">GENDER : {{ users.gender }}</span>
              <span class="text_detail">LAST EDUCATION : {{ users.gender }}</span>
              <span class="text_detail">SCHOOL NAME : {{ users.latestEducationName }}</span>
            </div>
            <div class="col-md-6 col-xs-6 col-sm-6">
                <span class="text_detail">ENGLISH LEVEL : {{ users.englishLevel }}</span>
                <span class="text_detail">STUDY REASON : {{ users.studyReason }}</span>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="form-heading">
      <h1>Total Students</h1>
  </div>
  <div class="content-wrapper bg-white">
    <div class="row animated zoomIn amount ">
      <div class="col-md-3 col-xs-3 col-sm-3 padding-10">
        <div class="box-data">
          <span class="data">
            what data
          </span>
          <span class="data">
            what data
          </span>
        </div>
      </div>
      <div class="col-md-3 col-xs-3 col-sm-3 padding-10">
        <div class="box-data">
          <span class="data">
            what data
          </span>
          <span class="data">
            what data
          </span>
        </div>
      
      </div>
      <div class="col-md-3 col-xs-3 col-sm-3 padding-10">
        <div class="box-data">
          <span class="data">
            what data
          </span>
          <span class="data">
            what data
          </span>
        </div>
      
      </div>
      <div class="col-md-3 col-xs-3 col-sm-3 padding-10">
        <div class="box-data">
          <span class="data">
            what data
          </span>
          <span class="data">
            what data
          </span>
        </div>
      
      </div>
    </div>
  </div>
<div class="form-heading">
      <h1>Total Students</h1>
  </div>
  <div class="content-wrapper bg-white">
    <div class="row animated zoomIn amount ">
      <div class="col-md-3 col-xs-3 col-sm-3 padding-10">
        <div class="box-data">
          <span class="data">
            what data
          </span>
          <span class="data">
            what data
          </span>
        </div>
      </div>
      <div class="col-md-9 col-xs-9 col-sm-9 padding-10">
        <div class="box-data">
          <span class="data">
            what data
          </span>
          <span class="data">
            what data
          </span>
        </div>
      
      </div>
    </div>
  </div>

  <div class="form-heading">
      <h1>Total Students</h1>
  </div>
  <div class="content-wrapper bg-white">
    <div class="row animated zoomIn amount ">
      <div class="col-md-3 col-xs-3 col-sm-3 padding-10">
        <div class="box-data">
          <span class="data">
            what data
          </span>
          <span class="data">
            what data
          </span>
        </div>
      </div>
      <div class="col-md-9 col-xs-9 col-sm-9 padding-10">
        <div class="box-data">
          <span class="data">
            what data
          </span>
          <span class="data">
            what data
          </span>
        </div>
      
      </div>
    </div>
  </div>

  
  