#system-container {
  height: 100%;
}

#content-container {
  padding: 10px;
  height: 100%;
  background-color: lightgray;
}

#sidebar-container {
  padding: 10px;
  height: 100%;
  background-color: cadetblue;
}
