    <form [formGroup]="newEditForm" (submit)="submit()">
        <div class="form-heading">
        <h1>Edit Corporate</h1>
      </div>
      <div class="form-body">
        <div class="form-group has-feedback">
          <input name="name" required type="text" placeholder="Enter Name" [(ngModel)]="user.name" class="form-control" formControlName="name">
        </div>
        <div class="form-group has-feedback">
          <input name="email" required type="email" placeholder="Enter Email" [(ngModel)]="user.username" class="form-control" formControlName="username">
        </div>
        <button type="submit" class="btn btn-block btn-primary mt-lg">
          Create
        </button>
      </div>
   </form>